<div class="row">
    <div class="col col-12 col-sm-12 col-lg-12 col-xl-12 col-xxl-12 col-lg-12">
        <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera-course-photos.s3.amazonaws.com/cb/3c4030d65011e682d8b14e2f0915fa/shutterstock_226881610.jpg?auto=format%2Ccompress&dpr=1" style="height: 60vh;" class="img-fluid w-100" >
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-xl-12 div col-lg-12 col-xxl-12">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-xl-12 col-lg-12 col-xxl-12">
                   <h3 class="text-center text-success">ADD COURSE</h3>
                   <hr>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-xl-6 col-lg-6 col-xxl-6">
                    <label for="" class="form-label">Course Title</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-xl-6 col-lg-6 col-xxl-6">
                    <label for="" class="form-label">Description</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-xl-6 col-lg-6 col-xxl-6">
                    <label for="" class="form-label">Course Date</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-xl-6 col-lg-6 col-xxl-6">
                    <label for="" class="form-label">Duration</label>
                    <input type="text" class="form-control">
                </div>
                
                <div class="col-12 col-sm-12 col-md-12 col-xl-12 col-lg-12 col-xxl-12 p-3 text-center">
                    <button class="btn btn-success">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
