<app-navbar></app-navbar>
<div class="bg-image d-flex justify-content-center align-items-center" 
            style="background-image: url('https://media.istockphoto.com/id/1059510610/vector/it-communication-e-learning-internet-network-as-knowledge-base.jpg?s=612x612&w=0&k=20&c=QEyHx6JnZleLmW9lYgpzvLv765rizr__5zwwKylo300=');height: 100vh ;position: relative;background-size: cover;">
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <h1 class="text-center text-dark mt-4">
                        ONLINE  EDUCATION

                    </h1>
                    <h6 class="text-center text-dark">
                        online learning is just one type of “distance learning” - 
                        the umbrella term for any learning that takes place across distance and not in a traditional classroom.
                    </h6>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">

                </div>
            </div>
        </div>
    </div>
</div>
</div>
